.divSideLong{
    display: flex;
    flex-direction: row;
    height:70px;
    width:360px;
    justify-content: flex-start;
}
.columnVeryLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height:560px;
    width:80px;
    display: inline-block;
}
.columnSecondFromLeft{
    height:560px;
    width:280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    display: inline-block;
}
.columnSecondFromLeftSmall{
    height:280px;
    width:140px;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-end;
    display: inline-block;
}
.leftBottomLong{
    display: flex;
    flex-direction: row;
    height:70px;
    width:360px;
    justify-content: flex-start;
    position: relative;
    top:-4px;
}