*{
    box-sizing: border-box;
    margin:0;
    text-align: center;
    color:#fff;
}
.container{
    margin:5px;
    display:flex;
    width: 1090px;
    height: 706px;
    flex: row wrap;
    justify-content: flex-start;
}
.threeBoxSetting{
    height:700px;
    width:360px;
}

.pushUp{
    align-self: flex-start;
}
.floatRight{
    float:right;
}
.floatLeft{
    float: left;
}
.flex{
    flex:1;
}

.border{
    border: 4px solid black;
}
.white{
    background-color:#fff;
}
.red{
    background-color:red;
}
.yellow{
    background-color:yellow;
}
.black{
    background-color:black;
}
.blue{
    background-color:rgb(0, 183, 255);
}
.midSquare{
    height: 140px;
    width:140px;
}
.smallSquare{
    height: 70px;
    width:70px;
}
.bigSquare{
    height:280px;
    width:280px;
}
.inline{
    display: inline-block;
}
div{
    height: 70px;
}
.rectangleLongSide{
    height:70px;
    width:220px;
}
.topLeftBoxSideLong{
    height:70px;
    width:140px;
}
.topLeftBoxSideLong2{
    height:70px;
    width:220px;
}

.rectangleLongColumn{
    height:210px;
    width:80px;
}

.rectangleLongColumn70_140{
    height:140px;
    width:70px;
}
.halfMidSquareSide{
    height: 70px;
    width:140px;    
}
.halfMidSquareColumn{
    height:140px;
    width: 80px;
}

.smallSquare90{
    height:70px;
    width: 90px;
}
.midSquare90{
    height:140px;
    width: 180px;
}
.halfMidSquareColumn90{
    height:140px;
    width: 90px;

}
.halfMidSquareSide90{
    height:70px;
    width: 180px;

