.pageSection{
    width: 100%;
    height: 500px;

}

.lightGrayBackground{
    background-color: rgb(241, 239, 239);
}

.whiteBackground{
    background-color: #fff;
}
.circleImage{
    width:350px;
    height:350px;
    border-radius: 50%;
    overflow: hidden;
}

.circleImage img{
    position: relative;
    left: -150px;
}